.navbar {
  margin-bottom: 0px !important;
}

.navbar-brand {
  color: #432818 !important;
}

.btn-primary {
  background-color: #432818 !important;
  border-color: #432818 !important;
}

body {
  font-family: 'Avenir', sans-serif !important;
}

.swiper {
  width: 100%;
  height: fit-content;
}

.logo {
  margin-right: 4px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 740px;
  object-fit: cover;
}

.space {
  height: 70px;
  max-width: fit-content;
  margin: 0 auto;
}

.space2 {
  height: 30px;
  max-width: fit-content;
  margin: 0 auto;
}

.titolo {
  text-align: center;
  font-family: 'Avenir', sans-serif;
}

#aboutus {
  font-family: 'Poppins', sans-serif;
}


.hr {
  color: #432818 !important;
}

h3 {
  color: #432818 !important;
}

h2 {
  text-align: center;
  color: #432818 !important;
}

.info {
  background-color: #432818;
  color: white;
  padding: 10px 20px;
  text-align: center;
  vertical-align: center;
  font-family: Trebuchet MS, sans-serif;
}


.footer {
  background-color: #432818;
  color: white;
  padding: 10px;
}


#map {
  width: auto;
  height: 150px;
  margin-right:40px
}

.fot{
  display: inline-block;
  margin: 10px auto;
  vertical-align: top;
}



}

#testofooter{
  max-width: 500px;
  font-size: 12px;
  text-align: left;
  color: white;
}

@media screen and (max-width: 1200px){
  .logo{
    width: 100px;
  }


.contatti {
  display: flex;
  flex-direction: column;

  margin: 50px 30px;
}

.contatti .form {
  /* width: 80%; */
}

.contatti .indirizzo {
  text-align: center;
}

.contatti .indirizzo img {
  height: 2em;
  padding-right: 10px;
}

.contatti .indirizzo a {
  text-decoration: none;
  color: #432818;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Gotham", Helvetica, Arial, sans-serif;
}

#contact {
  background: #ffffff;
}

#contact h3 {
  color: #432818;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #432818;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #432818;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.img-chi {
  width: 100%;
}

@media (max-width: 768px) {
  .contatti {
    flex-direction: column;

    margin: 0 20px;
  }

  #contact {
    width: 100%;
  }

  .contatti .form {
    width: 100%;
    margin: 0;
  }

  .contatti .indirizzo {
    margin: 20px 0;
    order: 2;

  }

  .map {
    margin: 0px 20px 20px 20px;
  }

}
  /*CHI SIAMO*/
#chisiamo.card {
  width: 80%;
  margin: auto;
  margin-bottom: 20px !important;
  margin-top: 30px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ccc;
}
#chisiamo.card:hover {
  transform: scale(1.1);
}
.team-card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.team-section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px !important;
}
.team-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-card img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .team-card {
      width: 100%;
  }
}
#team /*h2*/ {
  text-align: center;
}
#description/*container*/ {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
